@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>ScrapsKC Pricing Database</title>
    <meta charset="utf-8">

    <!-- Hello World -->
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">
</head>

<div id="popup">
    <div id="popupbox" name="login">
        <span id="close">&times;</span>
        <center>Password:</center>
        <center><input id="password" name="password" type="password" size="14" /></center>
        <center><input id="submit" type="submit" name="submit" value="Login" /></center>
        <center><p id="placeholder"></p></center>
    </div>
</div>

<body>
    <div id="wrapper">

        <h1>Pricing Database</h1>

        <div id="content">

            <button class="arts large" id="arts" type="button" onclick="location.href='@Url.Action("Index", "ArtsAndCrafts" )'">Arts/Crafts</button>   <!--Links Css and HTML into the framework.  Url.Action("View", "Controller" for linking-->
            <!--Had to change button element into a class so it doesn't effect other buttons'-->


            <button class="school large" id="school" type="button" onclick="location.href='@Url.Action("Index", "SchoolAndOffices" )'">School/Office</button>


            <button class="textile large" id="textile" type="button" onclick="location.href='@Url.Action("Index", "Textiles" )'">Textiles</button>


            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Miscellaneous" )'">Misc</button>


            <button class="plastics large" id="plastics" type="button" onclick="location.href='@Url.Action("Index", "Plastics" )'">Plastics</button>


            <button class="holiday large" id="holiday" type="button" onclick="location.href='@Url.Action("Index", "Holidays" )'">Holidays</button>






        </div>
    </div>
</body>
<script src="~/Scripts/priceAppFunctionality.js"></script>
</html>
