@model IEnumerable<CIS_264_Price_APP.Models.Misc.Misc_Q_S>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title> Misc. </title>
    <meta charset="utf-8">
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>

<body>
    
    <div id="wrapper">
        <h1> Misc.</h1>
        <h1>Q - S</h1>
        <div id="content">
            <p>
                <button class="protected disable" id="misc" type="button" onclick="location.href='@Url.Action("Create", "Misc_Q_S" )'">Create</button>
            </p>
            <table class="table miscLight">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.OrderBy(x => x.Category))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>

                            <button class="protected disable" id="misc" type="button" onclick="location.href='@Url.Action("Edit", "Misc_Q_S", new { id = item.Misc_Q_S_ID } )'">Edit</button> |
                            <button class="" id="misc" type="button" onclick="location.href='@Url.Action("Details", "Misc_Q_S", new { id = item.Misc_Q_S_ID } )'">Details</button> |
                            <button class="protected disable" id="misc" type="button" onclick="location.href='@Url.Action("Delete", "Misc_Q_S", new { id = item.Misc_Q_S_ID } )'">Delete</button>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
    <div>
        <button class="misc" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Miscellaneous" )'">Back to list</button>
    </div>
</body>
</html>