@model IEnumerable<CIS_264_Price_APP.Models.Plastics.Programs>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title> Programs </title>
    <meta charset="utf-8">
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>

<body>
    
    <div id="wrapper">
        <h1> Plastics</h1>
        <h1> Programs</h1>

        <div id="content">
            <p>
                <button class="protected disable" id="plastics" type="button" onclick="location.href='@Url.Action("Create", "Programs" )'">Create</button>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>

                            <button class="protected disable" id="plastics" type="button" onclick="location.href='@Url.Action("Edit", "Programs", new { id = item.Programs_ID } )'">Edit</button> |
                            <button class="" id="plastics" type="button" onclick="location.href='@Url.Action("Details", "Programs", new { id = item.Programs_ID } )'">Details</button> |
                            <button class="protected disable" id="plastics" type="button" onclick="location.href='@Url.Action("Delete", "Programs", new { id = item.Programs_ID } )'">Delete</button>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
    <div>
        <button class="plastics" id="plastics" type="button" onclick="location.href='@Url.Action("Index", "Plastics" )'">Back to list</button>
    </div>
</body>
</html>
