@model IEnumerable<CIS_264_Price_APP.Models.Misc.Miscellaneous>

@{
    ViewBag.Title = "Miscellaneous";
}

<!DOCTYPE html>
<!-- 10/03/2021 -->
<html lang="en">
<head>
    <title> Miscellaneous </title>
    <meta charset="utf-8">

    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>




<body>

    <div id="wrapper">
        <h1>Miscellaneous</h1>
        <div id="content">

            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Misc_A_F" )'">A - F</button>

            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Misc_G_L" )'">G - L</button>

            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Misc_M_O" )'">M - O</button>

            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Misc_P" )'">P</button>

            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Misc_Q_S" )'">Q - S</button>

            <button class="misc large" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Misc_T_Z" )'">T - Z</button>

        </div>
    </div>
    <br />
    <div>
        <button class="misc" id="misc" type="button" onclick="location.href='@Url.Action("Index", "Home" )'">Home</button>
    </div>
</body>
</html>
