@model CIS_264_Price_APP.Models.Plastics.Products

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title> Arts/Crafts </title>
    <meta charset="utf-8">
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>
<body>

    <div id="wrapper">
        <h2>Delete</h2>
        <div id="content">
            <h3>Are you sure you want to delete this?</h3>
            <div>


                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)
                    </dt>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />

                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
