@model IEnumerable<CIS_264_Price_APP.Models.Plastics.Products>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title> Products </title>
    <meta charset="utf-8">
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>

<body>

    <div id="wrapper">
        <h1> Plastics</h1>
        <h1> Products</h1>

        <div id="content">
            <p>
                <button class="protected disable" id="plastics" type="button" onclick="location.href='@Url.Action("Create", "Products" )'">Create</button>
            </p>
            <table class="table plasticsLight">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.OrderBy(x => x.Category))
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                <td class="protected disable">Archive<input class="archive protected disable" type="checkbox" name="archive" value="Archived"></td>
                <td class="protected disable">

                    <button class="protected disable" id="plastics" type="button" onclick="location.href='@Url.Action("Edit", "Products", new { id = item.Products_ID } )'">Edit</button>

                    <button class=protected disable" id="plastics" type="button" onclick="location.href='@Url.Action("Delete", "Products", new { id = item.Products_ID } )'">Delete</button>
                </td>
            </tr>
                }

            </table>

        </div>
    </div>
    <br />
    <div>
        <button class="plastics" id="plastics" type="button" onclick="location.href='@Url.Action("Index", "Plastics" )'">Back to list</button>
    </div>
</body>
</html>
