@model IEnumerable<CIS_264_Price_APP.Models.Holidays.Holidays>

@{
    ViewBag.Title = "Holidays";
}

<!DOCTYPE html>
<!-- 10/03/2021 -->
<html lang="en">
<head>
    <title> Holidays </title>
    <meta charset="utf-8">

    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>




<body>

    <div id="wrapper">
        <h1>Holidays</h1>
        <div id="content">

            <button class="holiday large" type="button" onclick="location.href='@Url.Action("Index", "Valentines" )'">Valentines<br />&nbsp;</button>

            <button class="holiday large" type="button" onclick="location.href='@Url.Action("Index", "Sts" )'">St. Patrick's and Easter</button>

            <button class="holiday large" type="button" onclick="location.href='@Url.Action("Index", "July4th" )'">July 4th<br />&nbsp;</button>

            <button class="holiday large" type="button" onclick="location.href='@Url.Action("Index", "Halloweens" )'">Halloween<br />&nbsp;</button>

            <button class="holiday large" type="button" onclick="location.href='@Url.Action("Index", "XmasandNewYears" )'">Xmas and New Year</button>



        </div>
    </div>
    <br />
    <div>
        <button class="holiday" type="button" onclick="location.href='@Url.Action("Index", "Home" )'">Home</button>
    </div>
</body>
</html>
