@model IEnumerable<CIS_264_Price_APP.Models.Holidays.XmasandNewYear>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

<head>
    <title> Holidays </title>
    <meta charset="utf-8">
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TBD(L)">

</head>

<body>

    <div id="wrapper">
        <h1>Holidays</h1>
        <h1>Xmas and New Years</h1>
        <div id="content">
            <p>
                <button class="protected disable" id="holiday" type="button" onclick="location.href='@Url.Action("Create", "XmasandNewYears" )'">Create</button>
            </p>
            <table class="table holidayLight">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    
                </tr>

                @foreach (var item in Model.OrderBy(x => x.Category))
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="protected disable">
                    <button class="protected disable" id="holiday" type="button" onclick="location.href='@Url.Action("Edit", "XmasandNewYear", new { id = item.XmasandNewYear_ID } )'">Edit</button>
                    <button class="protected disable" id="holiday" type="button" onclick="location.href='@Url.Action("Delete", "XmasandNewYear", new { id = item.XmasandNewYear_ID } )'">Delete</button>
                </td>
            </tr>
                }

            </table>

        </div>
    </div>
    <br />
    <div>
        <button class="holiday" id="holiday" type="button" onclick="location.href='@Url.Action("Index", "Holidays" )'">Back to list</button>
    </div>
</body>
</html>
